<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Installing</h3>
  </div>
  <div class="panel-body">
    <p>This is an <a href="">Ember CLI Addon</a> and can be installed through the <code>ember</code> command.</p>
    <pre>$ ember install ember-cli-select-picker</pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contributing</h3>
  </div>
  <div class="panel-body">
    <p>Contributions are welcome. All source code is managed through <a href="https://github.com/">GitHub</a>.</p>
    <p>
      <a href="https://github.com/sukima/ember-cli-select-picker/" class="btn btn-primary btn-lg active">
        View source on GitHub
      </a>
    </p>
  </div>
</div>
