<h1>select-picker</h1>

<div id="single-picker">
  {{select-picker content=theContent
                  value=singleValue
                  nativeMobile=false
                  optionLabelPath="content.name"
                  optionValuePath="content.id"}}
</div>

<div id="multiple-picker">
  {{select-picker content=theContent
                  selection=multipleValue
                  multiple=true
                  showBadge=true
                  nativeMobile=false
                  optionLabelPath="content.name"
                  optionValuePath="content.id"}}
</div>

<div id="normal-search-picker">
  {{!select-picker content=theContent
                  multiple=true
                  selection=multipleValue
                  liveSearch=true
                  nativeMobile=false
                  optionLabelPath="content.name"
                  optionValuePath="content.id"}}
</div>

<div id="advanced-search-picker">
  {{!select-picker content=theContent
                  multiple=true
                  selection=multipleValue
                  liveSearch="advanced"
                  nativeMobile=false
                  optionLabelPath="content.name"
                  optionValuePath="content.id"}}
</div>
